.json2html-container {
    background: white;
    padding: 3px 17px;
}

.json2html-key {
    color: blue;
}

.json2html-spoiler-trigger--collapsed,
.json2html-spoiler-trigger--uncollapsed {
    color: #585858;
}

.json2html-type__boolean {
    color: blueviolet;
}

.json2html-type__number {
    color: #1e7fcc;
}

.json2html-type__string {
    color: #4caf50;
}

.json2html-type__null {
    color: #9b9b9b;
}

.json2html-type__undefined {
    color: #795548;
} 

.json2html-collapse-all-trigger {
    color: black;
}

.json2html-spoiler-trigger--uncollapsed:hover ~ .json2html-collapse-all-trigger,
.json2html-key:hover ~ .json2html-collapse-all-trigger,
.json2html-type__array:hover ~ .json2html-collapse-all-trigger,
.json2html-type__object:hover ~ .json2html-collapse-all-trigger,
.json2html-collapse-all-trigger:hover,
.json2html-uncollapse-all:hover {
    opacity: 0.4;
}