.json2html-container {
    background: #282a36;
}

.json2html-key {
    color: #8be9fd;
}

.json2html-spoiler-trigger--collapsed,
.json2html-spoiler-trigger--uncollapsed {
    color: #585858;
}

.json2html-type__boolean {
    color: #bd93f9;
}

.json2html-type__number {
    color: #bd93f9;
}

.json2html-type__string {
    color: #f1fa8c;
}

.json2html-type__string a, 
.json2html-type__string a:visited {
    color: #ff79c6;
}

.json2html-type__null {
    color: #6272a4;
}

.json2html-type__undefined {
    color: #ffb86c;
} 

.json2html-type__array,
.json2html-type__object {
    color: #f8f8f2;
}

.json2html-value__minus-sign {
    color: #ff79c6;
}