.json2html-container {
    background: #FBF1C7;
}

.json2html-key {
    color:  #98971A;
}

.json2html-spoiler-trigger--collapsed,
.json2html-spoiler-trigger--uncollapsed {
    color: #9c967a;
}

.json2html-type__boolean {
    color: #B16286;
}

.json2html-type__number {
    color:  #B16286;
}

.json2html-type__string {
    color: #458588;
}

.json2html-type__string a, 
.json2html-type__string a:visited {
    color: #689D6A;
}

.json2html-type__null {
    color: #BDAE93;
}

.json2html-type__undefined {
    color:  #CC241D;
} 

.json2html-type__array,
.json2html-type__object {
    color: #7C6F64;
}

.json2html-collapse-all-trigger {
    color: black;
}

.json2html-spoiler-trigger--uncollapsed:hover ~ .json2html-collapse-all-trigger,
.json2html-key:hover ~ .json2html-collapse-all-trigger,
.json2html-type__array:hover ~ .json2html-collapse-all-trigger,
.json2html-type__object:hover ~ .json2html-collapse-all-trigger,
.json2html-collapse-all-trigger:hover,
.json2html-uncollapse-all:hover {
    opacity: 0.35;
}