.json2html-container {
    background: #fffbf7;
}

.json2html-key {
    color: #da103f;
}

.json2html-spoiler-trigger--collapsed,
.json2html-spoiler-trigger--uncollapsed {
    color: #585858;
}

.json2html-type__boolean {
    color: #8a31b9;
}

.json2html-type__number {
    color: #1766a5;
}

.json2html-type__string {
    color: #f6661e;
}

.json2html-type__null {
    color: #9b9b9b;
}

.json2html-type__undefined {
    color: #3f51b5;
} 

.json2html-collapse-all-trigger {
    color: black;
}

.json2html-type__string a, 
.json2html-type__string a:visited {
    color: #c14e15;
}


.json2html-type__array,
.json2html-type__object {
    color: #846e64;
}

.json2html-spoiler-trigger--uncollapsed:hover ~ .json2html-collapse-all-trigger,
.json2html-key:hover ~ .json2html-collapse-all-trigger,
.json2html-type__array:hover ~ .json2html-collapse-all-trigger,
.json2html-type__object:hover ~ .json2html-collapse-all-trigger,
.json2html-collapse-all-trigger:hover,
.json2html-uncollapse-all:hover {
    opacity: 0.4;
}

.json2html-value__minus-sign {
    color: #b44343;
}