.json2html-container {
    background: #272822;
    padding: 3px 17px;
}

.json2html-key {
    color: #F92672;
}

.json2html-spoiler-trigger--collapsed,
.json2html-spoiler-trigger--uncollapsed {
    color: #585858;
}

.json2html-type__boolean {
    color: #AE81FF;
}

.json2html-type__number {
    color: #AE81FF;
}

.json2html-type__string {
    color: #E6DB74;
}

.json2html-type__string a, 
.json2html-type__string a:visited {
    color: #F8F8F2;
}

.json2html-type__null {
    color: #75715E;
}

.json2html-type__undefined {
    color: #FD971F;
} 

.json2html-type__array,
.json2html-type__object {
    color: #66D9EF;
}