* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#app {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

#app__logo {
    position: relative;
    left: 25px;
    font-size: 45px;
    color: white;
}

#app__logo span:nth-child(1) {
    font-family: 'Satisfy', sans-serif;
}

#app__logo span:nth-child(2) {
    font-style: italic;
    margin-left: -7px;
    margin-right: -9px;
}

#app__logo span:nth-child(3) {
    font-family: 'Kanit', sans-serif;
    
    /* experimental functions */
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 5px;

    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    color: #21232c;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-position-x: 0px;
    animation: slide-gradient 1.5s infinite linear;
    animation-play-state: running;
    position: relative;
    bottom: 2px;
}

@keyframes slide-gradient {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 110px;
    }
}

#app__main-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.1%, -50.3%);
    margin: 5px 0px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 1080px;
}

#app__controls {
    /*border: 1px solid #484848; */
    width: fit-content;
    padding: 5px 10px;
    margin: 6px auto;
    border-radius: 3px;
}

#app__error-message {
    display: none;
    font-size: 13px;
    position: absolute;
    padding: 5px;
}

#app__controls label {
    font-size: 14px;
    margin: 0px 10px;
}

#app__controls select {
    cursor: pointer;
    padding: 2px 3px;
    border-radius: 3px;
    border: 1px solid #2c3339;
}


#app__input {
    cursor: text;
}

#app__input, #app__output {
    position: relative;
    float: left;
}

#app__input textarea {
    padding: 5px;
    font-size: 13px;
    width: 486px;
    height: fit-content;
    resize: none;
    border: none;
    position: relative;
    display: inline-table;
}

#app__input textarea:focus {
    outline: none;
}

#app__input:has(textarea:focus) {
    outline: 3px solid #0371f4;
    border-color: rgba(0, 0, 0, 0);
}

#app__input, #app__output {
    width: 520px;
    height: 400px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

#app__output {
    margin-left: 15px;
}

#app__input.app__error textarea {
    top: 20px;
}